{% extends 'templates/app.twig' %}
{% block title %}Homepage{% endblock %}

{% block content %}
  <div class="jumbotron">
	 <h2>Les derniers kebabs :</h2>
	 <div class="last_kebabs">
	 	{% for image in images %}
    		<img src="images/kebabs/{{ image }}">
		{% endfor %}
	 </div>
	 <br>
	 <h2>Les meilleurs kebabs</h2>
	 <div class="best_kebabs">
	 	{% for image_p in images_points %}
    		<img src="images/kebabs/{{ image_p }}">
		{% endfor %}
	 </div>
  </div>

{% endblock %}