body {
    padding-top: 10px;
}

img {
	width: 100%;
	height: auto;
	display: inline-block;
}
#kebab_tasty_points{
	text-align: center;
	font-size: 2em;
}
.kebab_location{
  margin-top: 30px;
  margin-bottom: 30px;
}
.vote{
  border-radius: 10px;
  border: solid 1px #DDD;
  box-shadow: 0px 0px 5px 1px #ccc;
}
.up {
  color:#00a47a;
  font-size: 2em;
  text-align: center;
  border: solid 1px 1px 1px 0px black
}
.up:hover {
  color:#13c249;
  text-shadow: 0px 2px 2px black;
}
.down {
  color:#e75a48;
  font-size: 2em;
  text-align: center;
}
.down:hover {
  text-shadow: 0px 2px 2px black;
}
