{% extends 'templates/app.twig' %}
{% block title %}Kebabstragram - Kebab{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}
