{% extends 'templates/app.twig' %}
{% block title %}{{ user.user_name }}{% endblock %}
{% block content %}
    <div class="row">
        <div>
			<p>Bonjour, ami {{ user_name }} !</p>
        </div>
        <div>
        {% for kebab in kebabs %}
    		<img src="images/kebabs/{{ kebab.kebab_image_path }}.{{ kebab.kebab_image_extension }}">
		{% endfor %}
		</div>
    </div>
{% endblock %}
